<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mager.story">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StoryApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".login.LoginActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:excludeFromRecents="true"
            android:label="@string/activity_home" />

        <activity
            android:name=".content.story.StoryActivity"
            android:excludeFromRecents="true"
            android:label="@string/story_title" />

        <activity
            android:name=".content.photo.PhotoActivity"
            android:excludeFromRecents="true"
            android:label="@string/photo_title" />

        <activity
            android:name=".content.audio.AudioActivity"
            android:excludeFromRecents="true"
            android:label="@string/audio_title"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".content.video.VideoActivity"
            android:excludeFromRecents="true"
            android:label="@string/video_title"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <activity
            android:name=".dummy.DummyActivity"
            android:excludeFromRecents="true"
            android:theme="@style/TranslucentActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8176f8eae0aaac9c026fd285b18d57e3805500b8" />
    </application>
</manifest>